@font-face {
    font-family: Poppins;
    src: url(./Font/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: Rubik ;
    src: url(./Font/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf);
}

:root{
    --padding-inline-section: 20px;
}

body{
    background: #1e1c2a
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    color: #fff;
}

/* ----------------------CUSTOM_SCROLLBAR------------------------------ */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: rgb(88, 88, 88);
}

::-webkit-scrollbar-thumb{
    background: rgb(241, 168, 31);
    border-radius: 4px;
}

/* Rest-Section */
h1{
    font-size: 3rem;
    color: orange;
}

h2{
   font-size: 2rem;
   color: orange;
}

h3{
   font-size: 1.2rem;
   color: #fff;
}

p{
    font-size: 1rem;
    line-height: 1.8rem;
    color: #fff;
}

a{
    text-decoration: none;
    display: inline-block;
}

.flex{
    display: flex;
    align-items: center;
}

/* Utility-Class */

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}
 
.container1{
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}
/* Nav-Bar! */

.nav-bar{
 justify-content: space-between;
 /* background-color: red; */
 width: 100%;
 height: 80px;
 position: relative;

}
.menu{
    display: flex;
}
.menu li{
   padding: 20px;
}
.menu li a{
    color: #fff;
}
.menu li a:hover{
    color: orange;
    transition: 0.2s ease-in-out;
}
.logo{
    color: orange;
}

.toggle-links i{
    font-size: 32px;
    color: orange;
    margin-right: 20px;
}

.toggle-links{
    display: none;
}


/* Hero-Section! */

.hero-right img{
    width: 450px;
}

.hero-left h1{
    font-size: 4rem;
    /* font-family:Rubik ; */
}

.hero-section{
    gap: 120px;
    justify-content: center;
    padding: 50px 20px 0;
}

.btn{
    /* border: 1px solid orange; */
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: orange;
    margin-top: 30px;
    border-radius: 6px;
}

/* About-Section */
.about-section{
    margin-top: 100px;
    gap: 100px;
}
.about-left img{
    width: 400px;
}
.about-right h4{
    color: orange;
}
.about-right h2{
    color: #fff;
}

/* Menu-Section */
.menu-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.heading{
    text-align: center;
}
.heading h4{
    color: orange;
}
.heading h2{
    color: #fff;
}
.box-img img{
    width: 200px;
}
/* .box-container{
    justify-content: center;
}
.box{
    gap: 50px;
} */
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    grid-gap: 1.5rem;
    align-items: center;
}
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    background: #fff;
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
span{
    color: orange;
}
.box h3{
    color: #000000;
}
.box h4{
    color: rgb(83, 83, 83);
}
.cart{
    position: absolute;
    background-color: orange;
    padding: 10px;
    right:0;
    top: 0;
    font-size: 20px;
    border-radius: 5px;
}

/* Service-Section */
.service-section{
    margin-bottom: 100px;
}
.service-contain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    align-items: center;
    grid-gap: 1.5rem;
}
.service-box{
    text-align: center;
}
.service-box img{
    width: 100px;
}
.service-box h4{
    color: orange;
    text-align: center;
}
.service-contain{
    margin-top: 60px;
}
/* .service-box p{
    font-size: 12px;
} */

/* Cta-Section */
.cta-section{
    background: #fff;
    border-radius: 6px;
    margin-bottom: 100px;
}
.cta-heading{
    text-align: center;
    padding: 50px;
}
.cta-heading h2{
    color: #000000;
}

/* Footer-Section */

.footer-section{
    justify-content: space-between;
    align-items: flex-start;
}
.footer-links ul{
    margin-top: 20px;
    gap: 10px;
}
.social-links{
    font-size: 22px;
    background: orange;
    border-radius: 50%;
    padding: 10px;
}
.footer-links h4{
    position: relative;
}
.footer-links h4::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background: orange;
    height: 2px;
    width: 50px;
   /* border-bottom: 2px solid orange; */
}
.footer-links ul li a{
    color: #9897a9;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}
.footer-links ul li a:hover{
    transform:translateX(-12px);
    color: #fff;
}
/* hr{
    width: 50px;
    background: orange;
} */


/* //================//RESPONSIVE_DESIGN//===============// */

@media (min-width: 768px) and (max-width: 870px){
    /* section{
        padding: 60px 4%;
        transition: .3s;
    } */

    .hero-left h1{
        font-size: 45px;
    }

    .hero-left h3{
        font-size: 25px;
    }

    .hero-right img{
        width: 250px;
    }

    .btn{
        /* border: 1px solid orange; */
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background: orange;
        margin-top: 30px;
        border-radius: 6px;
    }

    
}

@media (min-width: 576px) and (max-width: 768px) {
    .hero-right img{
        width: 180px;
    }

    .hero-left h1{
        font-size: 30px;
    }

    .hero-left h3{
        font-size: 20px;
    }

    .btn{
        /* border: 1px solid orange; */
        padding: 5px 12px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        background: orange;
        margin-top: 10px;
        border-radius: 6px;
    }

    .nav-bar{
        overflow: initial;
    }

    nav{
        position: absolute;
        background: #1e1c2a;
        /* background-color: rgb(224, 168, 63); */
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        text-align: center;
    }

    nav .menu{
        flex-direction: column;
    }

    .active{
        left: 0;
    }

    .toggle-links{
        display: block;
    }

    /* //============//About_Section_Responsive//=============// */

    .about-section{
        gap: 50px;
    }

    .about-left img{
        width: 250px;
    }

    .about-right h2{
        font-size: 20px;
    }

    .about-right p{
        font-size: 15px;
    }
}

@media (max-width: 576px){
    .hero-right img{
        width: 260px;
    }

    .hero-left h1{
        font-size: 45px;
    }

    .hero-left h3{
        font-size: 26px;
    }  
    
    .hero-section{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        text-align: center;
        transition: .3s;
    }

    .nav-bar{
        overflow: initial;
    }

    nav{
        position: absolute;
        background: #1e1c2a;
        /* background-color: rgb(224, 168, 63); */
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        text-align: center;
    }

    nav .menu{
        flex-direction: column;
    }

    .active{
        left: 0;
    }

    .toggle-links{
        display: block;
    }

    /* //============//About_Section_Responsive//=============// */

    .about-section{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        transition: .3s;
    }

    .about-left img{
        width: 300px;
    }
}

/* @media (min-width: 576px) {

    nav.menu{
        display: none;
    }

    .toggle-links{
        display: block;
    }
} */